.exp__timeline_container {
  margin: 30px;
}

.exp__timeline_container h3,
.exp__timeline_container h4,
.exp__timeline_container div,
.exp__timeline_container p {
  font-family: "Merriweather", serif;
}

.exp__timeline_container a {
    color: black;
}