---
import Layout from "../layouts/Layout.astro";
---

<Layout
    title="Story | Sidharth Mohanty"
    description="Welcome to my page - Sid : )"
>
    <section class="mt-8 sm:mt-16">
        <h1
            class="text-zinc-900 dark:text-zinc-100 text-3xl md:text-5xl font-bold tracking-tight"
        >
            Code, Gym, Caffeine, Repeat.
        </h1>
        <h2 class="my-6 text-zinc-700 dark:text-zinc-300 text-base">
            Before we start, here is a riddle that describes me:<br />
            "Through uncharted realms, I roam with might, seeking treasures hidden
            out of sight."
        </h2>
    </section>
    <section class="my-8">
        <h2
            class="text-zinc-900 dark:text-zinc-100 text-2xl md:text-4xl font-bold tracking-tight"
        >
            About me
        </h2>
        <p class="my-6 text-zinc-700 dark:text-zinc-300 text-base">
            Hi there, I'm Sidharth 👋
            <br />
            <br />
            I'm a final year Computer Science student at the Odisha University of
            Technology and Research in Bhubaneswar (🇮🇳). I'm a fullstack developer
            with over 2 years of experience crafting mind-blowing
            applications. Web apps, mobile apps, chrome extensions, APIs—yeah, I've
            conquered them all. No biggie.
            <span class="text-zinc-900 dark:text-zinc-100 text-base font-bold"
                >JK, I'm still learning!</span
            >
            <br />
            <br />
            You know what they say—I've been a JS fanboy since day one. React, Vue,
            Angular, Node, Express, Nest, Next, Nuxt... I've danced with them all.
            But that's not all, folks. I've even dabbled in the dark arts of Golang
            and Python, creating APIs and CLI tools that would make wizards jealous.
            Impressive, right?
            <br />
            <br />
            When it comes to tech, I'm the guy who's always on the hunt for the latest
            and greatest. Trendy tech? You bet I'm curious. I just love exploring
            new stuffs— Backend, DevOps, Databases, System Design, CI/CD you name
            it.
            <br />
            <br />
            But hey, I'm not all about the code. I'm a fitness enthusiast, sculpting
            my coding muscles while pumping iron at the gym. And don't get me started
            on coffee—it's the elixir that fuels my coding adventures. They say knowledge
            is power, and I'm here to soak it all in. An eternal learner, always
            tinkering, experimenting, and solving problems. The tech world is my
            infinite universe, and I'm on an endless quest for discovering new horizons.
        </p>
    </section>
</Layout>

<style></style>
